<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<th:block th:fragment="pattern-body">
		<script>
            var resizefunc = [];
        </script>
		 <!-- jQuery  -->
        <script th:src="@{/assets/js/jquery.min.js}"></script>
        <script th:src="@{/assets/js/bootstrap.min.js}"></script>
        <script th:src="@{/assets/js/detect.js}"></script>
        <script th:src="@{/assets/js/fastclick.js}"></script>
        <script th:src="@{/assets/js/jquery.blockUI.js}"></script>
        <script th:src="@{/assets/js/waves.js}"></script>
        <script th:src="@{/assets/js/jquery.slimscroll.js}"></script>
        <script th:src="@{/assets/js/jquery.scrollTo.min.js}"></script>

        <!-- App js -->
        <script th:src="@{/assets/js/jquery.core.js}"></script>
        <script th:src="@{/assets/js/jquery.app.js}"></script>	
	</th:block>
</html>