<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Form Usuario</title> 
    <th:block th:replace="/fragment/pattern-head :: pattern-head"></th:block>
</head>
<body> 
	<th:block th:replace="/fragment/top-menu :: top-menu"></th:block>
	<div class="container">
		<div class="card-box">
			<h2 th:unless="${user.id}">Novo Usuário</h2>
			<h2 th:if="${user.id}">Editar Usuário</h2>
			<form  class="form-group m-t-20" th:action="@{'/user/save'}" th:object="${user}" method="post">
				<input hidden="text" th:field="${user.id}">
				<div class="row m-b-20">
					<div class="col-xs-6 required-flag">
						<label>Nome: </label> 
							<input type="text"  class="form-control" th:field="${user.name}" required="required">
					</div>
					<div class="col-xs-6 required-flag">
						<label>Email: </label> 
						<input type="email"  class="form-control" th:field="${user.email}" required="required">
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6 required-flag">
						<label>Senha: </label> 
							<input type="password"  class="form-control" th:field="${user.password}" required="required">
					</div>
					<div class="col-xs-6 required-flag">
						<label>Acesso: </label> 
						<select class="form-control" required="required" th:field="${user.access}">
							<option value="">Selecione</option>
							<option th:value="ROLE_ADMIN">Administrador</option>
							<option th:value="ROLE_USER">Comum</option>
						</select>
					</div>
				</div>
				<button class="btn btn-login m-t-20" type="submit">Enviar</button>
			</form>
		</div>
	</div>
	<th:block th:replace="/fragment/pattern-body :: pattern-body"></th:block>
</body>
</html>