<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Lista de usuarios</title>
        <th:block th:replace="/fragment/pattern-head :: pattern-head"></th:block>
        <style>
        	#table{
        		width: 100%;
        	}
        	#table td{
        		padding:10px;
        	}
        	#table th{
        		padding:10px;
        	}
        	
        	
        </style>
    </head>
    <body>
		<th:block th:replace="/fragment/top-menu :: top-menu"></th:block>
		<div class="card-box">
			<div class="row container">
				<h2>Lista Usuários</h2>
				<div class="m-b-20 row">
					<div class="col-xs-4">
						<label>Buscar:</label>
						<input id="myInput" type="text" class="form-control">
					</div>
				</div>
				<table id="table" class="table-bordered">
					<thead class="logus" style="color:#FFF">
						<tr>
							<th class="col-xs-2 text-center">Nome</th>
							<th class="col-xs-2 text-center">Email</th>
							<th class="col-xs-2 text-center">Acesso</th>
							<th class="col-xs-2 text-center">Editar</th>
							<th class="col-xs-2 text-center">Excluir</th>
						</tr>
					</thead>
					<tbody id="myTable">
						<tr  th:if="${listUser}" th:each=" user : ${listUser}" th:id="${user.id}">
							<td class="col-xs-2 text-center" th:text="${user.name}"></td>
							<td class="col-xs-2 text-center" th:text="${user.email}"></td>
							<td class="col-xs-2 text-center" th:text="${user.access} eq 'ROLE_ADMIN' ? @{'Administrador'} : @{'Comum'}"></td>
							<td class="col-xs-2 text-center"><a th:href="@{'/user/edit/'}+${user.id}">Editar</a></td>
							<td class="col-xs-2 text-center"><a th:href="@{'/user/delete/'}+${user.id}">Excluir</a></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<th:block th:replace="/fragment/pattern-body :: pattern-body"></th:block>
		<script type="text/javascript">
			$(document).ready( function () {
				$("#myInput").on("keyup", function() {
				   var value = $(this).val().toLowerCase();
				   $("#myTable tr").filter(function() {
				     $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
				   });
				});
			});
		
			 
			
		</script>
    </body>
</html>